:root{
    --bg-color: rgb(12, 12, 12);
    --font-size: 12px;
}
*{
    padding: 0;
    margin: 0;
      background-color: #120721;
}
.navbar{
    background-color: #120721;
    height: 3rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.01px solid white;
}
.nav-sec2{
    display: flex;
    gap: 12px;
    
}
.nav-sec2 a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    color: rgb(249, 246, 246);
    border: 1px solid rgb(43, 24, 249);
    padding: 2px 6px;
    border-radius: 12px;
    background-color: rgb(23, 9, 60);
}
.nav-sec1{
    font-size: 23px;
    font-weight: bolder;
    color: red;
}
.nav-sec2 a:hover{
    background-color: rgb(72, 60, 101);
}
.section-1 p{
    text-align: center;
    padding: 3rem 0 0rem 2rem;
    color: white;
    font-size: 40px;
}
.section-1 p span{
    color: #904884;
}
.section-1 .grid{
    display: flex;
    align-items: center;
    padding-left: 2.4rem;
}
.section-1 .grid img{
    height: 30rem;
    width: 30rem;
}